<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Font for small text h4 h5 .... , p   -->

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Priotrize fonts fetching using  -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap"
      as="style"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap"
      rel="stylesheet"
    />
    <!--                                     -->
    <link rel="stylesheet" href="../public/style/main.css" />
  </head>
  <body>
    <img src="../public/imgs/summer.jpg" alt="" />
    <div class="background-layer">
      <div class="container">
        <div id="mainWeather">
          <div class="main-container">
            <div class="search">
              <input type="text" class="search-bar" autofocus="true" />
            </div>
            <div id="Tempreture">
              <div class="main-temp span-rows main-child-1">
                <div id="tempDegree"><h1>25</h1></div>
                <div id="tempStatus"><h2>Hot Day</h2></div>
                <div id="tempDesc">
                  <p>
                    rainy, wet, humid, dry, arid, frigid, foggy, windy, stormy,
                    blue, gray (BrE grey), dark; a patch of blue sky.
                  </p>
                </div>
              </div>
              <div class="feels-like-temp main-child-2">
                <div class="fl-container">
                  <div class="fl-degree">
                    <img src="" alt="" />
                    <p>Feels Like</p>
                  </div>
                  <h1>30</h1>
                  <p>Making feel winter Making feel winter</p>
                </div>
              </div>
              <div class="precpictation main-child-3">
                <div class="precp-container">
                  <img src="" alt="" />
                  <p>precpictation</p>
                </div>
                <h1>30</h1>
                <p class="precp-time">in last 24 hours</p>

                <p>Making feel winter Making feel winter</p>
              </div>
              <div class="visibility main-child-4">
                <div class="vis-container">
                  <img src="" alt="" />
                  <p>hello</p>
                </div>
                <h1>4 hello</h1>
              </div>
              <div class="humdity main-child-5">
                <div class="hum-container">
                  <img src="" alt="" />
                  <p>test</p>
                </div>
                <h1>45 <span>%</span></h1>
              </div>
            </div>
          </div>
        </div>
        <div id="secondryWeather">
          <div class="secondry-container">
            <div id="Forecast" class="forecast span-rows secondry-div">
              <div class="fc-conainer">
                <div class="fc-titel">
                  <img src="" alt="" />
                  <p>Hourly Forecast</p>
                </div>
                <div class="h-fc">
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                  <div>
                    <p>asda</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              id="HourlyForecase "
              class="forecast span-rows secondry-div"
            ></div>
            <div id="UVIndex" class="secondry-div"></div>
            <div id="Wind" class="secondry-div"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- autofocus: the problem it solves: when page reload it will be focused on it .   -->
